* {
  box-sizing: border-box;
}
header {
  text-align: center;
  background: url("/img/projects/dallas_skyline_at_night.jpg") no-repeat top
    center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}
