@import "config";
@import "menu";
@import "skills";
@import "modal";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin: 0;
    ul {
      position: relative;
      top: 50%;
      //left: 15%;
      //transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      display: flex;
    }
    ul li {
      list-style: none;
    }
    ul li a {
      display: block;
      position: relative;
      width: 4rem;
      height: 4rem;
      line-height: 2rem;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
      color: $secondary-color;
      margin: 0 1rem;
      padding: 0.35rem;
      transition: 0.5s;
    }
    ul li a span {
      position: absolute;
      transition: transform 0.5s;
    }
    ul li a span:nth-child(1),
    ul li a span:nth-child(3) {
      width: 100%;
      height: 1px;
      background: $secondary-color;
    }
    ul li a span:nth-child(1) {
      top: 0;
      left: 0;
      transform-origin: right;
    }
    ul li a:hover span:nth-child(1) {
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s;
    }
    ul li a span:nth-child(3) {
      bottom: 0;
      left: 0;
      transform-origin: left;
    }
    ul li a:hover span:nth-child(3) {
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }

    ul li a span:nth-child(2),
    ul li a span:nth-child(4) {
      width: 1px;
      height: 100%;
      background: $secondary-color;
    }
    ul li a span:nth-child(2) {
      top: 0;
      left: 0;
      transform: scaleY(0);
      transform-origin: bottom;
    }
    ul li a:hover span:nth-child(2) {
      transform: scaleY(1);
      transform-origin: top;
      transition: transform 0.5s;
    }

    ul li a span:nth-child(4) {
      top: 0;
      right: 0;
      transform: scaleY(0);
      transform-origin: top;
    }
    ul li a:hover span:nth-child(4) {
      transform: scaleY(1);
      transform-origin: bottom;
      transition: transform 0.5s;
    }
  }

  .edit {
    //display: block;
    //visibility: hidden;
    // position: absolute;
    font-size: 1rem;
    width: 18px;
    height: 20px;
    top: 0px;
    right: 0px;
    overflow: hidden;
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  //About Page

  &#about {
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    .container {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1000px;
      height: 500px;
      display: flex;
    }
    .container .box {
      position: relative;
      width: 250px;
      height: 500px;
      background: $primary-color;
      transition: 0.5s;
    }
    .container .box:hover {
      transform: scale(1.1);
      z-index: 1;
      box-shadow: 0.5px 20px $primary-color;
    }

    .container .box .thumb {
      position: absolute;
      width: 100%;
      height: 250px;
      overflow: hidden;
    }
    .container .box:nth-child(odd) .thumb {
      bottom: 0;
      left: 0;
    }

    .container .box .thumb img {
      width: 100%;
    }

    .container .box .details {
      position: absolute;
      width: 100%;
      height: 250px;
      overflow: hidden;
      background: #262626;
    }
    .container .box:nth-child(even) .details {
      bottom: 0;
      left: 0;
    }
    .container .box:nth-child(1) .details {
      background: #8553cb;
    }
    .container .box:nth-child(2) .details {
      background: #fe8f01;
    }
    .container .box:nth-child(3) .details {
      background: #79d400;
    }
    .container .box:nth-child(4) .details {
      background: #ff3b34;
    }
    .container .box .details .content {
      position: absolute;
      top: calc(50% + 16px);
      transform: translateY(-50%);
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      transition: 0.5s;
    }

    .container .box:hover .details .content {
      top: calc(50%);
    }

    .container .box .details .content .fas {
      font-size: 80px;
      color: #fff;
    }
    .container .box .details .content h3 {
      margin: 0;
      padding: 0;
      padding: 10px 0;
      color: #fff;
    }
    .container .box .details .content a {
      display: inline-block;
      padding: 5px 20px;
      color: #fff;
      border: 2px solid #fff;
      text-decoration: none;
      transition: 0.5s;
      border-radius: 20px;
      transform: scale(0);
    }
    .container .box:hover .details .content a {
      transform: scale(1);
    }

    .container .box .details .content a:hover {
      background: #fff;
      color: #262626;
    }
    @media (max-width: 1000px) {
      .container {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
      }

      .container .box {
        height: 250px;
      }
      .container .box .thumb {
        display: none;
      }
    }
    @media (max-width: 768px) {
      .container {
        display: initial;
      }

      .container .box {
        width: 50%;
        height: 250px;
        float: left;
      }
      .container .box .thumb {
        display: none;
      }
    }

    @media (max-width: 480px) {
      .container {
        top: 0;
        left: 0;
        transform: translate(0);
      }

      .container .box {
        width: 100%;
        height: 250px;
        float: none;
      }
      .container .box .thumb {
        display: none;
      }
    }
  }

  // Contact Page
  &#contact {
    body {
      margin: 0;
      padding: 0;
    }
    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      display: flex;
    }
    ul li {
      list-style: none;
    }
    ul li a {
      display: block;
      position: relative;
      width: 150px;
      height: 150px;
      line-height: 180px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      color: $secondary-color;
      margin: 0 10px;
      transition: 0.5s;
    }
    ul li a span {
      position: absolute;
      transition: transform 0.5s;
    }
    ul li a span:nth-child(1),
    ul li a span:nth-child(3) {
      width: 100%;
      height: 1px;
      background: $secondary-color;
    }
    ul li a span:nth-child(1) {
      top: 0;
      left: 0;
      transform-origin: right;
    }
    ul li a:hover span:nth-child(1) {
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s;
    }
    ul li a span:nth-child(3) {
      bottom: 0;
      left: 0;
      transform-origin: left;
    }
    ul li a:hover span:nth-child(3) {
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }

    ul li a span:nth-child(2),
    ul li a span:nth-child(4) {
      width: 1px;
      height: 100%;
      background: $secondary-color;
    }
    ul li a span:nth-child(2) {
      top: 0;
      left: 0;
      transform: scaleY(0);
      transform-origin: bottom;
    }
    ul li a:hover span:nth-child(2) {
      transform: scaleY(1);
      transform-origin: top;
      transition: transform 0.5s;
    }

    ul li a span:nth-child(4) {
      top: 0;
      right: 0;
      transform: scaleY(0);
      transform-origin: top;
    }
    ul li a:hover span:nth-child(4) {
      transform: scaleY(1);
      transform-origin: bottom;
      transition: transform 0.5s;
    }
  }

  // Skills Page
  &#skills {
    body {
      margin: 0;
      padding: 0;
      font-family: Verdana;
      background: #262626;
    }
    .container {
      width: 100%;
      height: 200px;
      display: flex;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .box {
      width: auto;
      text-align: center;
      line-height: 200px;
      flex-grow: 1;
      transition: 0.5s;
      font-size: 1.2em;
      color: #fff;
      background: #f00;
    }
    .box:hover {
      flex-grow: 4;
      max-width: 100%;
      font-size: 2em;
    }
    .container .box:nth-child(1) {
      background: #f1c40f;
    }
    .container .box:nth-child(2) {
      background: #9b59b6;
    }
    .container .box:nth-child(3) {
      background: #95a5a6;
    }
    .container .box:nth-child(4) {
      background: #16a085;
    }
    .container .box:nth-child(5) {
      background: #3498db;
    }
  }
}

@import "mobile";
